#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: #DDDDDD;
    width: 600px;
}

.description {
    text-align: center;
    font-size: 18px;
    width: 500px;
    color: #DDDDDD;
}

img {
    width: 600px;
    height: auto;
}

.tab-container {
    display: flex;
    flex-direction: column;
    
}

.tab-bar {
    justify-content: center;
    display: flex;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 1px;
}

.individual-tabs {
    border-style: none;
    width: 90px;
    height: 50px;
    background-color: #444444;
    color: #FFFFFF;
}

.individual-tabs:hover {
    background-color: #555555;
}

.drop-down-container {
    text-align: center;
    background-color: #AAAAAA;
}

h4 {
    font-size: 20px;
}